

body{background-image: url('https://sonija.cloud//img/bgtest.png')!important; background-size: cover; background-repeat: no-repeat; font-family: Syne,sans-serif; }
::selection {
	color: rgb(11, 139, 75);
	background: rgb(175, 211, 189);
}

/* LOGIN PAGE STYLES */
.sss-login-page{background-color: #F7F9FB!important; background-image: none!important;}
        .sss-login-page .brand {
	margin: 40px auto;
	position: relative;
	z-index: 1;
    text-align: center;
    font-size: 4rem;
    transition: 0.2s;
    color: black!important;
}

.sss-login-page .brand:hover{
    color: #198754!important;
    transition: 0.2s;
}

.sss-login-page .brand img {
	width: 100%;
}

.sss-login-page .card-wrapper {
	width: 400px;
}

.sss-login-page .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.sss-login-page .card.fat {
	padding: 10px;
}

.sss-login-page .card .card-title {
	margin-bottom: 30px;
}

.sss-login-page .form-control {
	border-width: 2.3px;
}

.sss-login-page .form-group label {
	width: 100%;
}

.sss-login-page .btn.btn-block {
	padding: 12px 10px;
}

.sss-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

@media screen and (max-width: 425px) {
	.sss-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.sss-login-page .card.fat {
		padding: 0;
	}

	.sss-login-page .card.fat .card-body {
		padding: 15px;
	}
}
/* **** */

.logo { position: relative; display: flex; align-items: center; width: 200px; font-size: 1.6rem; color: #000000;}
.sonija { font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold;}
.ticket { font-family: 'Noto Sans TC', sans-serif; font-weight: lighter; color: #198754;}
.support { font-family: 'Noto Sans TC', sans-serif; font-weight: lighter; color: #ffce80!important; font-size: 1rem;}
.logo:hover .simple { opacity: 1; }
.sonija, .ticket{
  margin-right: -100px;
  transition: margin 0.2s;
}
.future {
  font-size: 11px;
  text-align: right;
  width: 100%;
  position: absolute;
  bottom: -12px; /* Możesz dostosować tę wartość */
  right: 15px;
  transition: 0.2s;
}


.simplelogo{width: 75px; height: 35px; opacity: 0; transition: opacity 0.2s ease, transform 0.2s ease; transform: scale(0); margin-right: -4px; margin-bottom: 6px;}
.logo:hover .simplelogo{opacity: 1; transform: scale(1)}

.simple {
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.2s ease;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 900;
  font-size: 1.7rem;
  color: #000000;
}

.logson{ transition: 0.2s; }

.logo:hover {cursor: pointer;}
.logo:hover .ticket{margin-left: 0px;}
.logo:hover .sonija{margin-right: 0px;}
.logo:hover .future{right: -85px; transition: 0.2s;}
.logo:hover .logson{color: #198754; transition: 0.2s;}

.logo:hover .simple {
  opacity: 1;
}
.sonijaicon{transition: 0.2s;}
.logo:hover .sonijaicon{
  color: #198754;
  transition: 0.2s;
}

.nlh {
  transition: 0.3s;
  background-color: transparent;
  border: 2px solid transparent;
  font-size: 0.95rem;
  position: relative;
}

.nlh::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  background: url('https://sonija.cloud//img/customborder1.png') no-repeat;
  background-size: 65% 65%;
  opacity: 0;
  transition: opacity 0.3s; /* Zmiana animowanej właściwości */
}

.nlh:hover::after {
  opacity: 1;
}

.nav-link{font-weight: lighter;}
.activemenu{font-weight: bold;}

.cardhoversuccess{transition: 0.3s;}
.cardhoversuccess:hover{transition: 0.3s; background-color: #b7ffdd9d;}

.cardhoverprimary{transition: 0.3s;}
.cardhoverprimary:hover{transition: 0.3s; background-color: #b7d4ff9a;}

.full-heightc{height: 100%!important;}


.asbr{background-color: #e4e4e4;}

.nvlss{transition: 0.2s!important; font-weight: 600; border-bottom: 1px solid transparent;}
.nvlss:hover{transition: 0.2s!important; color: #198754!important; border-bottom: 1px solid #198754;}
.nvactive{font-weight: bolder!important; color: #198754!important; border-bottom: 1px solid #198754;}

footer{width: 100%; min-height: 2vh; padding: 10px; display: flex; justify-content: center; align-items: center; margin-top: 5%; color: #a8a8a8; flex-direction: column; line-height: 10px;}

/** COOKIES ALERT STYLES **/
.cookie-consent{position: absolute; top:0;left:0; width: 100%; min-height: 100%; background-color: #969696e5; display: flex!important; align-items: center; justify-content: center; z-index: 9999999;}
.cookie-consent .cookiesbox{min-height: 60%!important; max-width: 50%; background-color: #fff; border: 1px solid transparent; border-radius: 12px; padding: 25px!important;}

/** **** **/

/* INPUT PHONE STYLES ADDITIONAL */
.iti{width: 100%;}

/* **** */